<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.BalanceMapper">

	<insert id="ballikesave" parameterType="BalanceDTO">
		insert into
		balance_like
		(bal_seq, mem_id) values(#{bal_seq},
		#{mem_id})
	</insert>

	<delete id="ballikedelete" parameterType="BalanceDTO">
		delete from balance_like
		where
		bal_seq = #{bal_seq} and mem_id =#{mem_id}
	</delete>

	<select id="ballikecheck" parameterType="BalanceDTO" resultType="int">
		select count(*) from balance_like where mem_id = #{mem_id} and bal_seq =
		#{bal_seq}
	</select>
	
	<select id="ballikecount" parameterType="BalanceDTO" resultType="int">
		select count(*) from balance_like where bal_seq =
		#{bal_seq}
	</select>
	
		<insert id="balboardupload" parameterType="BalanceDTO">
		insert into balance
		(bal_seq, mem_id, bal_content, bal_date, bal_img, bal_left, bal_right, bal_reward, bal_time, bal_left_color, bal_right_color )
		values(bal.seqnum.nextval,
		#{mem_id}, #{bal_content}, sysdate, #{bal_img}, #{bal_left}, #{bal_right}, #{bal_reward}, #{bal_time}, #{bal_left_color},#{bal_right_color})
	</insert>
	
	<select id="balanceShow" parameterType="BalanceDTO" resultType="BalanceDTO">
		select * from (select rownum as r,x.* from (select

		b.*,(select count(*) from balance_like l where l.bal_seq = b.bal_seq ) as bal_like,
		(select mem_img from member_info m where m.mem_id = b.mem_id) as mem_img,
		(select count(*) from balance_cmt c where c.bal_seq = b.bal_seq) as bal_cmt_cnt,
		(select count(*) from balance_vote v where v.bal_seq = b.bal_seq and bal_vote ='L' ) as bal_left_count,
		(select count(*) from balance_vote v where v.bal_seq = b.bal_seq and bal_vote ='R' ) as bal_right_count
		from balance b order by

		b.bal_seq desc) x) a where a.r
		between #{start} and #{end}
	</select>


	<select id="detailShowBal" parameterType="int" resultType="BalanceDTO" >
		select b.*,(select count(*) from
		balance_like l where l.bal_seq = b.bal_seq ) as bal_like,
		(select mem_img from member_info m where m.mem_id = b.mem_id) as mem_img,
		(select count(*) from balance_cmt c where c.bal_seq = b.bal_seq) as bal_cmt_cnt,
		(select count(*) from balance_vote v where v.bal_seq = b.bal_seq and bal_vote ='L' ) as bal_left_count,
		(select count(*) from balance_vote v where v.bal_seq = b.bal_seq and bal_vote ='R' ) as bal_right_count
		from balance b where bal_seq = #{bal_seq}
	</select>
		

</mapper>