<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.BalCmtMapper">

	<insert id="balCmtUpload" parameterType="BalCmtDTO">
		insert into balance_cmt values(cmt_bal.nextval,
		#{bal_seq}, #{mem_id}, #{bal_cmt_content} ,sysdate)
	</insert>
	

	<delete id="balDeleteCmt" parameterType="int">
	delete from balance_cmt where bal_cmt_seq = #{bal_cmt_seq}
	</delete>
	
	
	<select id="balCmtList" parameterType="BalCmtDTO" resultType="BalCmtDTO">
		select * from balance_cmt where bal_seq = #{bal_seq} and mem_id = #{mem_id} order by bal_cmt_seq desc
	</select>
	
	<select id="balCmtCount" parameterType="int" resultType="int">
		select count(*) from balance_cmt where bal_seq = #{bal_seq} 
	</select>
	
	<select id="balCmtAllList" parameterType="int" resultType="BalCmtDTO">
		select b.*,(select mem_img from member_info m where m.mem_id = b.mem_id) as mem_img from balance_cmt b where bal_seq = #{bal_seq} order by bal_cmt_seq desc
	</select>
</mapper>