<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.BoardMapper">
	<insert id="boardupload" parameterType="BoardDTO">
		insert into board (board_seq, mem_id, board_content, board_date, board_img) values(num_board.nextval,
		#{mem_id}, #{board_content}, sysdate, #{board_img})
	</insert>

 	<select id="showboard" resultType="boardDTO">
	select * from board order by board_seq desc
	</select> 
	
<!-- 	<select id="showone" parameterType="int" resultType="boardDTO">
	select * from "" where num= #{num}
	</select> -->
	<delete id="boarddelete" parameterType="BoardDTO">
	delete from board where board_seq = #{board_seq}
	</delete>
	
	<select id ="boardshow" parameterType="PagingDTO" resultType="boardDTO">
		select * from (select rownum as r,b.* from board b order by board_seq desc) a where a.r between #{start} and #{end}
	</select>
	<!-- <update id="boardupdate" parameterType="BoardDTO">
	update board set board_img =#{},board_content =#{}, board_date=sysdate where id=#{board_writer}
	</update> -->
</mapper>