<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.BoardMapper">
	<insert id="upload" parameterType="BoardDTO">
		insert into board (board_seq, board_writer, board_content, board_date, board_img) values(num_board.nextval,
		#{board_writer}, #{board_content}, sysdate, #{board_img})
	</insert>
	
 	<select id="showboard" resultType="boardDTO">
	select * from board order by board_seq desc
	</select> 
	
<!-- 	<select id="showone" parameterType="int" resultType="boardDTO">
	select * from "" where num= #{num}
	</select> -->
	<delete id="deleteboard" parameterType="BoardDTO">
	delete from board where board_seq = #{board_seq}
	</delete>
	
	<update id="updateboard" parameterType="BoardDTO">
	update board set board_img =#{},board_content =#{}, board_date=sysdate where id=#{board_writer}
	</update>
</mapper>