@charset "UTF-8";
/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 모든 요소에 테두리 까지 포함한 너비값 지정 */
  font-family: "Poppins", sans-serif; /* 폰트 설정 */
}

body {
  min-height: 100%;
  /* background: #e3f2fd; */
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.list>.create_post:hover{
	cursor: pointer;
}

.logo .menu-icon {
  color: black;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: black;
  font-size: 30px;
  font-weight: 500;
  font-family: "Billabong";
}
.sidebar {
  position: fixed;
  top: 0;
  /* left: -100%; */
  height: 100%;
  width: 340px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid lightgray;
  transition: all 0.4s ease; /* 애니메이션 부드럽게 하는 속성 */
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column; /* 요소들을 세로로 배치 */
  justify-content: space-between; /* 요소들을 양쪽 정렬 */
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #0095F6;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 25px;
  color: black;
}
.nav-link .link {
  font-size: 16px;
  color: black;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}
.container{
  display: flex;
}
.box-sidebar{
  flex-grow: 0;
  width: 340px;
  height: 100vh;
}
.box-contents{
  display: flex;
  flex-direction: column; /* flex 방향 설정 */
  align-items: center;
  flex-grow: 1;
  height: 100vh;
}

/* 로그인 화면 */
.login_form{
  text-align: center;
}
.login_form a{
  text-decoration: none;
  color : blue;
}

/* 회원가입 화면 */
.join_form{
  text-align: center;
}

/* 프로필 화면 */
.profile img{
  width: 100px;
  height: 100px;
}

/* 게시글 영역 */
#posts {
  margin: 0 auto;
  padding: 0;
  width: 470px;
  list-style-type: none;
}

/* 게시글 내용 */
.post{
  padding: auto;
  margin: auto;
  margin-top: 10px;
  /* border: 1px solid black; */
  text-align: center;
}

/* 헤더 */
.header{
  height: 60px;
  display: flex;
}

.profile_icon{
  display: flex; /* 정렬을 위한 속성 정의 */
  align-items: center; /* 수직 정렬 */
  justify-content: center;  /* 수평 정렬 */
  width: 40px;
  margin-right: 10px;
}
.profile_icon img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.id{
  display: flex; /* 정렬을 위한 속성 정의 */
  align-items: center; /* 수직 정렬 */
  justify-content: left;  /* 수평 정렬 */
  width: 390px;
  font-weight: bold;
  font-size: 15px;
}
.menu{
  display: flex; /* 정렬을 위한 속성 정의 */
  align-items: center; /* 수직 정렬 */
  justify-content: center;  /* 수평 정렬 */
  width: 40px;
}
.menu i{
  font-size: 25px;
  color: black;
}
.menu i:hover{
  cursor: pointer;
}

/* 콘텐츠 영역 */
.content{
  background-color: black;
  display: flex; /* 정렬을 위한 속성 정의 */
  align-items: center; /* 수직 정렬 */
  justify-content: center;  /* 수평 정렬 */
  height: 585px;
}

.content video{
  max-width: 100%;
  max-height: 100%;
}

.content img{
  max-width: 100%;
  max-height: 100%;
}

/* 버튼 라인 */
.buttons{
  display: flex;
  align-items: center; /* 수직 정렬 */
  justify-content: left;  /* 수평 정렬 */
  height: 46px;
}

.button{
  width: 40px;
}

.button .icon {
  margin-right: 15px;
  font-size: 25px;
  color: black;
}

.button .icon:hover {
  cursor: pointer;
}

/* 좋아요 라인 */
.like{
  height: 25px;
  text-align: left;
}

.like span{
  font-size: 15px;
  font-weight: bold;
}

/* 댓글 라인 */
.comments{
  font-size: 15px;
  height: 50px;
  text-align: left;
}

.comments_show{
  font-size: 15px;
  height: 25px;
  text-align: left;
}

.comments_input{
  font-size: 15px;
  height: 25px;
  text-align: left;
  margin-bottom: 10px;
}

.comments_input input{
  border: none;
  background-color: white;
  width: 100%;
  height: 100%;
}

.show_more{
  font-size: 12px;
  color: #707070;
}

.show_all{
  font-size: 12px;
  color: #707070;
}

.show_more:hover{
  cursor: pointer;
}

.show_all:hover{
  cursor: pointer;
}

/* 로딩 영역 */
article h1 {
  text-align: left;
  border-bottom: 1px dotted #E3E3E3;
}

article p {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.1em;
}

#loading {
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
}

/* 프로필 수정 영역 */
.profile_edit{
  margin-top: 20px;
  width: 60%;
  height: 60%;
}

.div_head{
  width: 100%;
  height: 15%;
}

.div_user{
  display: flex;
  width: 100%;
  height: 15%;
  border-bottom: 1px solid lightgray;
}

.user_icon{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_icon img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user_name{
  display: flex;
  align-items: center;
  width: 45%;
  height: 100%;
}

.user_icon_change{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 45%;
  height: 100%;
}

.user_icon_change label{
  margin-right: 10px;
  color: #0095F6;
  font-weight: bold;
}

.user_icon_change label:hover{
	cursor: pointer;
}

.user_icon_change input{
  display: none;
}

.div_edit{
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.div_edit form{
  width: 100%;
  height: 100%;
}

.div_edit_inner{
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.div_edit_1{
  width: 20%;
  height: 100%;
  text-align: right;
}

.div_edit_1 span{
  font-weight: bold;
  margin-right: 10px;
}

.div_edit_2{
  width: 80%;
  height: 100%;
}

.div_edit_2 input{
  border : 1px solid lightgray;
  width: 50%;
  height: 30px;
  margin-left: 10px;
}

.div_edit_submit{
  margin-top: 50px;
  text-align: right;
}

.div_edit_submit input{
  display: none;
}

.div_edit_submit label{
  display:inline-block;
  text-align: center;
  background-color: #0095F6;
  color: white;
  width: 60px;
  height: 30px;
  border-radius: 10px;
}

.div_edit_submit label:hover{
	cursor: pointer;
}

/* 리워드 상점 영역 */
.shop_user_info{
  display: flex;
  width: 60%;
  height: 10%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}

.shop_user_info_title{
  width: 60%;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}
.shop_user_info_icon{
  text-align: center;
  width: 10%;
}
.shop_user_info_icon img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.shop_user_info_name{
  text-align: left;
  width: 15%;
}
.shop_user_info_point{
  text-align: center;
  width: 15%;
}

.shop_product_div{
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 60%;
  height: 90%;
}

.shop_product{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
}

.shop_product_img{
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 5px;
  width: 100%;
  height: 79%;
}

.shop_product_img img{
  width: 70%;
  height: 70%;
}

.shop_product_brand, .shop_product_name, .shop_product_price{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7%;
}

.shop_product_price{
  font-weight: bold;
}

*::-webkit-scrollbar {
  display: none;
}

.shop_product_img img:hover{
  cursor: pointer;
}